/*  COLOR PALETTE #96ceb4 • #ffeead • #ff6f69 • #ffcc5c • #88d8b0 */
/*  FONTS , cursive; font-family: 'Quicksand', sans-serif; */
/* font-family: "Ma Shan Zheng"; */

body {
  background: #ffeead;
  color: black;
  font-family: "Quicksand";
}

.paint {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  box-shadow: 1px 0px 0.5rem rgb(54, 54, 54) inset;
  margin: 0.2rem;
}

.wrapper-col {
  display: flex;
  flex-direction: column;
}

.pixel {
  height: 1.1rem;
  width: 1.1rem;
  border: 1px solid #acbdb5;
  background: white;
}

#head {
  margin-top: 5vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

#title-hide{
  display: none
}

#head-XXL {
  margin-top: 5%;
  margin-bottom: 10%;
  display: flex;
  align-content: center;
  justify-content: center;;
}

#main {
  background: #96ceb4;
  width: 70%;
  padding: 3%;
  border-radius: 1.5em;
}

#art-container {
  margin-top: 3vh;
  margin-bottom: 2vh;
}

#pixel-wrapper {
  background: #96ceb4;
  display: flex;
  align-content: space-between;
  justify-content: center;
  cursor: url(./images/brush.png), auto;
}

#palette {
  background: #96ceb4;
}

#selection {
  background: #96ceb4;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

/* Displays the name of current color */
#current-color {
  background: #96ceb4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#current-color-display {
  width: 8rem;
  height: 2rem;
  box-shadow: 0px 0px 0.5rem rgb(54, 54, 54) inset;
  border-radius: 25px;
  background-color: #fff;
}

#color-name {
  font-size: 2rem;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

/* ABOUT PROJECT AND MY INFO */

#about {
  margin-bottom: 2vh;
  margin-left: -5%;
}


.card {
  background-color: #ff6f69;
  border: none;
}



.card-title {
  margin-bottom: 1.3rem;
  font-size: 2rem;
}

.card-body {
  color: white;
}

.card-footer {
  background-color: #ffcc5c;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card-footer div{
  width: 10em;
}
.card-footer a{
  margin-right: 10%;
}
/* FONT AWESOME */

.icon.brands:before {
  font-family: "Font Awesome 5 Brands";
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

/* Break Points */

/* X-LARGE Ipad-Pro */

@media screen and (max-width: 1024px) {
  .paint {
    height: 4rem;
    width: 4rem;
  }

  .pixel {
    height: 1.6rem;
    width: 1.6rem;
  }
  #current-color-display {
    width: 20rem;
    height: 3rem;
  }

  #main {
    width: 90%;
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3rem;
    border-radius: 1.5em;
  }

  #color-name {
    font-size: 3rem;
  }

  #title-hide{
    display: flex;
  }

  #head-XXL {
    display: none;
  }

  #about {
    margin-left: 0;
  }
}
/* LARGE  Ipad */
@media screen and (max-width: 992px) {
  .paint {
    height: 3.5rem;
    width: 3.5rem;
    margin: 0.1rem;
  }

  .pixel {
    height: 1.2rem;
    width: 1.2rem;
    border: 1px solid #96ceb4;
    background: white;
  }

  #current-color-display {
    width: 15rem;
    height: 2.5rem;
    box-shadow: 0px 0px 0.5rem rgb(54, 54, 54) inset;
    border-radius: 25px;
  }
  #main {
    padding: 3%;
    margin-top: 0;
  }

  #color-name {
    font-size: 2rem;
  }
}

/* MEDIUM */
@media screen and (max-width: 600px) {
  .paint {
    height: 1.2rem;
    width: 1.2rem;
    box-shadow: 1px 0px 0.3rem rgb(54, 54, 54) inset;
  }

  .pixel {
    height: 0.6rem;
    width: 0.6rem;
    border: 1px solid #96ceb4;
    background: white;
  }

  #current-color-display {
    width: 6rem;
    height: 1rem;
  }

  #color-name {
    font-size: 1em;
  }
}

/* SM PLUS  iphone Plus/Pixel */
@media screen and (max-width: 420px) {
  .paint {
    height: 2em;
    width: 2rem;
    margin: 0.1rem;
  }

  .pixel {
    height: 0.65rem;
    width: 0.65rem;
    border: 1px solid #96ceb4;
    background: white;
  }

  #current-color-display {
    width: 12rem;
    height: 2rem;
  }

  #palette-row{
    width: 90%;
    display: flex;
    align-self: center;
    justify-content: cneter;
    margin-left:5%;
  }

  #main {
    width: 98%;
    border-radius: 0.5em;
    margin-bottom: 10rem;
  }

  #pixel-wrapper{
    width: 80%;
  }

  #color-name {
    font-size: 1.6em;
  }
}

/* SMALL iphone 6/7/8 */
@media screen and (max-width: 375px) {
  .paint {
    height: 1.8rem;
    width: 1.8rem;
    margin: 0.1rem;
  }

  .pixel {
    height: 0.6rem;
    width: 0.6rem;
    border: 1px solid #96ceb4;
    background: white;
  }

  #current-color-display {
    width: 10rem;
    height: 1.8rem;
  }

  #main {
    width: 98%;
    border-radius: 0.5em;
    margin-top: 3rem;
    margin-bottom: 9rem;
  }

  #color-name {
    font-size: 1.4em;
  }
}

  /* X-SMALL  */
@media screen and (max-width: 360px) {
  .paint {
    height: 1.6rem;
    width: 1.6rem;
    margin: 0.1rem;
  }

  .pixel {
    height: 0.57rem;
    width: 0.57rem;
    border: 1px solid #96ceb4;
    background: white;
  }

  #current-color-display {
    width: 10rem;
    height: 1.8rem;
  }

  #main {
    width: 98%;
    border-radius: 0.5em;
    margin-bottom: 2.5rem;
  }

  #color-name {
    font-size: 1.4em;
  }
}

/* XX-SMALL iphone 5SE */
@media screen and (max-width: 340px) {
  .paint {
    height: 1.5rem;
    width: 1.5rem;
  }

  .pixel {
    height: 0.5rem;
    width: 0.5rem;
  }

  #current-color-display {
    width: 10rem;
    height: 1.5rem;
  }
  #color-name {
    font-size: 1.8em;
  }

  #main {
    width: 95%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

/* HOVER ON TOUCH DEVICES */

@media (hover: hover) and (pointer: fine) {
  .paint:hover {
    box-shadow: 1px 0px 0.3rem white inset;
  }

  .pixel:hover {
    background: #ddd;
  }

  .card p:hover {
    list-style: none;
    color: black;
  }

  a:hover {
    text-decoration: none;
    color: #fff;
  }
}
