body {
  margin: 0;
  padding: 0;
  height: 90vh;
  width: 100vw;
  background: #fff;
  color: black;
  font-family: "Franklin Gothic Medium";
}

footer{
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: deepskyblue;
}

ul {
  display: flex;
  justify-content: center;
  align-content: center;
}

footer li {
  margin-right: 1em;
  list-style: none;
}

.paint {
  height: 3.5vh;
  width: 3.5vh;
  border-radius: 50%;
  float: left;
  margin-left: 3%;
  box-shadow: 1px 0px 10px rgb(54, 54, 54) inset;
  margin-top: 0.75%;
  margin-bottom: 0.75%;
}
.paint:hover {
  box-shadow: 1px 0px 10px white inset;
}

.wrapper-col{
  display: flex;
  flex-direction: column;
  background: none;
}


.pixel {
  height: 2.25vh;
  width: 2.25vh;
  border: 1px solid #ddd;
  background: white;
  opacity: 1;
}



#main {
  background: #ddd;
  height: 80vh;
  width: 80vw;
  padding: 1vh;
  margin-top: 3%;
  border-radius: 25px;
  overflow: hidden;
}

#pixel-wrapper {
  background: #ddd;
  height: 82%;
  width: 70vw;
  margin-top: 2%;
  display: flex;
  align-content: center;
  justify-content:center;
}

#pallet {
  background: #ddd;
  height: 13%;
  width: 100%;
}

#selection {
  background: #ddd;
  height: 100%;
  width: 70%;
  overflow-y: scroll;
  margin-top: 1%;
}

#current-color {
  background: #ddd;
  height: 99%;
  width: 28%;
  margin-top: 1%;
  overflow-x: scroll;
}

#box {
  height: 3vh;
  width: 80%;
  box-shadow: 0px 0px 15px rgb(54, 54, 54) inset;
  border-radius: 25px;
}

#color-name {
  margin-top: 0%;
  margin-bottom: 2%;
  width: 80%;
  font-size: 2vw;
  color: black
}

/* FONT AWESOME */

.icon.brands:before {
  font-family: "Font Awesome 5 Brands";
}

/* Labeled Icons */

ul.labeled-icons {
  list-style: none;
  padding: 0;
}

ul.labeled-icons li {
  line-height: 1.75em;
  margin: 1.5em 0 0 0;
  padding-left: 2.25em;
  position: relative;
}

ul.labeled-icons li:first-child {
  margin-top: 0;
}

ul.labeled-icons li a {
  color: inherit;
}

ul.labeled-icons li h3 {
  color: #b2b2b2;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1em;
}

.row  {
  margin: none;
  padding: none;
}
